
<div class="parent-container">
  <div class="child-container">
    <h2>Hello, Welcome to <b>Find Your Favorite Recipe!!!
    </b></h2>
    <br>
    <span class="desc"><h4>Please click below <br> To start <br> Your search</h4> </span>
    <form>
      <div class="form-group">
        <!--<div class="form-group col-lg-4 col-lg-offset-4"> come back to check
          <input type="text" class="form-control" placeholder="Enter your email..."/>
        </div>-->
        <br>
        <button class="btn btn-primary btn-lg outline raised col-lg-2 col-lg-offset-5" routerLink="/search-recipe">Find Place</button>
      </div>
    </form>
  </div>
</div>

