<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand background"><img class="img-responsive raised" src="assets/restaurant_icon.png"></a>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a class="fas fa-home fa-3x" routerLink="/home" ></a></li>
        <li><a class="fas fa-hamburger fa-3x" routerLink="/search-recipe"></a></li>
        <li routerLinkActive="active"><a class="fas fa-user-friends fa-3x" routerLink="/contact-list"></a></li>
      </ul>

    </div>
  </div>
</nav>
