<div class="row">
  <div class="col-sm-offset-5"><h1 style="color: azure; font-family: 'Comic Sans MS'">Find out more <br>about us</h1></div>
</div>
<div id="row-1" class="row">
  <div class="col-lg-4 col-lg-offset-1">
    <a class="fab fa-twitter fa-6x" href="https://twitter.com/?lang=en"><h3 style="color: blue" class="text-center"> Twitter</h3></a></div>
  <div class="col-lg-4 ">
    <a class="fab fa-facebook fa-6x" href="https://www.facebook.com/"><h3 style="color: blue" class="text-center"> FaceBook</h3></a></div>
  <div class="col-lg-2">
    <a style="color: red" class="fab fa-youtube fa-6x" href="https://www.youtube.com/"><h3 style="color: red" class="text-center"> Youtube</h3></a></div>
</div>
